# This notebook will take our csv dataset, create a mysql table, and insert

### The dataset used is the Insurance Claims dataset from Kaggle

#### Roshan, Sharma. (2019; July). Insurance Claim, Version 1. Retrieved 8/25/2020 from https://www.kaggle.com/roshansharma/insurance-claim.

In [2]:
# Setup imports and read csv
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

path = r"C:\Users\sands\OneDrive\Desktop\MSDS_DATA_PRACTICUM\Data\Modeling"

df = pd.read_csv(path + '\insurance_claims.csv')
print(len(df.columns))
df.head()

39

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,25-01-2015,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,21-01-2015,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,22-02-2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,10-01-2015,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,17-02-2015,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [2]:
# Get database username and password
import getpass as gp

user = input("Please enter your database username: ")
print("Please enter your database password: ")
password = gp.getpass()

Please enter your database username: pthielma
Please enter your database password:
········

### This next cell will do two different things:
#### First, we will be splitting off the data into a training, test and validation. The ratios are Train: 80%, Test: 20%
##### The reason for the split here is so that we are not tempted to look at the holdout data during modeling!
#### Second, we will be creating two tables, one for train and test.

In [3]:
# We are using sklearn to split the dataset. We are also stratifying the target so we get a nice distribution in each set
from sklearn.model_selection import train_test_split

X = df.drop(['fraud_reported'], axis=1)
y = df[['fraud_reported']]

# We are creating the training and test dataset here
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=22, stratify = y)

In [5]:
# Connecting to mysql database using sqlalchemy. This allows us to insert and retrieve dataframes with ease
# import mysql.connector
from sqlalchemy import create_engine

# Using an f string to input the user and password
connstring = f'mysql+mysqlconnector://{user}:{password}@127.0.0.1:3306/claims'
engine = create_engine(connstring, echo=False)

# Saving the datasets
X_train['fraud_reported'] = y_train
X_test['fraud_reported'] = y_test
df.to_sql(name='full_modeling_dataset', con=engine, if_exists = 'append', index=False)
X_train.to_sql(name='train_dataset', con=engine, if_exists = 'append', index=False)
X_test.to_sql(name='test_dataset', con=engine, if_exists = 'append', index=False)

### Now that the data is stored in the database, we will continue to next notebook